<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Rest API">
    <classes>
      <class name="tests.GetPlacesAPI"/>
      <class name="tests.loggin_in_response"/>
      <class name="tests.logging_in_Request"/>
      <class name="tests.PostData"/>
      <class name="tests.AddandDeletePlaceUsingExtract"/>
      <class name="tests.Xml_request_testing"/>
      <class name="tests.JIRA_Create_Session_Add_Defect_Add_Comment_Update_Comment"/>
      <class name="tests.GetResponseObjectswithForloop"/>
      <class name="tests.PrintResponse"/>
      <class name="tests.AddandDeletePlaces_with_property_file"/>
    </classes>
  </test> <!-- Rest API -->
</suite> <!-- Suite -->
